@model UCP1_PAW_20190140005_A.Models.Casual

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Casual</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockSepatu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockSepatu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaSepatu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaSepatu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HargaSepatu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HargaSepatu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JenisSepatu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JenisSepatu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UkuranSepatu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UkuranSepatu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrandSepatu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrandSepatu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSepatuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSepatuNavigation.IdSepatu)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdSepatu" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
