@model UCP1_PAW_20190140005_A.Models.Sporty

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sporty</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockSepatu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockSepatu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaSepatu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaSepatu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HargaSepatu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HargaSepatu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JenisSepatu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JenisSepatu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UkuranSepatu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UkuranSepatu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrandSepatu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrandSepatu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSepatu1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSepatu1.IdSepatu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSepatuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSepatuNavigation.IdSepatu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdSepatu">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
